
  head{
    background-color: #242f63;
    border-bottom: solid 5px #0c084b;
    color: white;
  }

  h1 {
    text-align: center;
    color: rgb(168, 101, 6);
    font-size: 30px;
 }
 
 h2{
  font-size: 20px;

 }

  body{
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #19191d;
    font-weight: 400;
  }

  .titulo{
    text-align: center;
    color: white;
    font-size: 40px;
  }
  
  nav {
    color: white;
    height: 25px;
    line-height: 25px;
    padding-left: 25px;
  }
  
  nav.main-menu a {
    color: white;
  }
  
  main {
    max-width: 800px;
    margin: auto;
    padding: 0 20px;
  }
  
  table.paper {
    width: 100%;
  }

  form{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px
  }

  .numero,
  .acciones {
    text-align: right;
  }
  
  .mini-boton {
    border: solid 1px darkgray;
    background-color: lightgray;
    border-radius: 3px;
    padding: 0 2px;
  }
  
  h2,h3,h4{
    color: #ddd;

  }
  
  .lista-vacia {
    text-align: center;
    padding: 20px;
    color: #666666;
  }
  
  /* Estilos del formulario */
  
  label {
    align-items: center;
    display: block;
    font-size: 1rem;
    font-weight: bold;
    padding: 0;
    margin-top: .75rem;
    color: white;
  }
  
  .campo-formulario .radio-label,
  .campo-formulario>input[type="radio"]~label {
    display: inline-block;
    margin-right: 2rem;
    margin-bottom: .5rem;
  }
  
  .campo-formulario input:not([type="radio"]) {
    width: 100%;
  }
  

  
  .icono-error {
    margin-right: 1rem;
    font-size: 32px;
  }
  
  .exito-flash {
    background-color: rgba(0, 200, 0, .25);
    color: darkgreen;
    border: solid 2px darkgreen;
    padding: 2rem;
    font-size: 1rem;
    margin: 1rem 0;
    display: flex;
    align-items: center;
  }

  
ul{
  list-style: none;
justify-content: left
}

li,a{
float: left;
background-color: #243e63;
margin-right: 10px;
color: white;
}


table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 70%;
	
}

.pie-de-pagina {
	margin-top: 40px;
	color: #ddd;
	padding: 5px;
	border-top: solid 1px #ddd;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
  }

  li,a{
    float: left;
    background-color: #19191d;
    margin-right: 10px;
    color: white;
  }

  