/*
	Color fondo: #632432;
	Color header: 246355;
	Color borde: 0F362D;
	Color iluminado: 369681;
*/

body{
	background-color: #160552;
	font-family: Arial;
}

#main-container{
	margin: 150px auto;
	width: 600px;
}

ul{
    list-style: none;
	justify-content: left
}

li,a{
	float: left;
	background-color: #243e63;
	margin-right: 10px;
	color: white;
}

table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 70%;
}



th, td{
	padding: 20px;
    
}

caption {
  text-align: center;
  color: rgb(168, 101, 6);
  font-size: 50px;
}

thead{
	background-color: #242f63;
	border-bottom: solid 5px #0c084b;
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: #3b3a64;
	color: white;
}

.nueva_compra,.estado{
	color: white;
}