/*
	Color fondo: #632432;
	Color header: 246355;
	Color borde: 0F362D;
	Color iluminado: 369681;
*/
/*
body{
	background-color: #160552;
	font-family: Arial;
}
*/
body {
	font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	background-color: #19191d;
	font-weight: 300; }
  
#main-container{
	margin: 150px auto;
	width: 600px;
}

ul{
    list-style: none;
	justify-content: left
}

li,a{
	float: left;
	background-color: #19191d;
	margin-right: 10px;
	color: white;
}

caption{
	text-align: left;
	color: rgb(168, 101, 6);
	font-size: 20px;
  }

table{
	background-color: white;
	text-align: center;
	border-collapse: collapse;
	width: 70%;
	border: 0px ridge #242f63;
	box-shadow: #ecedf0;
}

th, td{
	padding: 20px;
}

thead{
	background-color: #2e2e36;
	border-bottom:solid 4px #19191d;
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: #3b3a64;
	color: white;
}

.nueva_compra,.estado{
	color: white;
}

.pie-de-pagina {
	margin-top: 40px;
	size: 0.5px;
	color: #ddd;
	padding: 5px;
	border-top: solid 1px #ddd;
  }