{% from 'macros.html' import menu %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Estado</title>
    <link rel="stylesheet" href="/static/css/estado.css">
</head>
<body>
{{ menu(self._TemplateReference__context.name) }}

<!--
<div class="tabla-estado">
    <table>
        <caption>Estado de la inversión</caption>
        <tr>
            <th>Moneda</th>
            <th>Cantidad</th>
        </tr>
        {% for saldo in saldos %}
            <tr>
                <td>{{ saldo.moneda }}</td>
                <td>{{ saldo.cantidad }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
<br>
-->

<div class="tabla-detalle">
    <table>
        <caption>Detalle</caption>
        <tr>
            <td>Inversión:</td>
            <td>{{ inversion_eur }} EUR</td>
        </tr>
        <tr>
            <td>Valor actual:</td>
            <td>{{ valor_actual }} EUR</td>
        </tr>
    </table>
</div>
<footer class="pie-de-pagina">2022 Bootcamp Cero.</footer>
</body>
</html>