<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Estado</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1 class="titulo_formulario">Estado de la inversion</h1>
</body>
<nav class="menu">
    <ul>
        <li><a  href="/">Inicio</a></li>
        <li><a href="/consulta">Compra</a></li>
        <li><a href="estado">Estado</a></li>
    </ul>
</nav>
    <table>
        <tr>
            <th>Moneda</th>
            <th>Cantidad</th>
        </tr>
        {% for saldo in saldos %}
        <tr>
            <td>{{ saldo.moneda }}</td>
            <td>{{ saldo.cantidad }}</td>
        </tr>
        {% endfor %}
    </table>
</head>

</html>