{% from 'macros.html' import menu %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Estado</title>
    <link rel="stylesheet" href="/static/css/tabla.css">
</head>
<body>
    {{ menu(self._TemplateReference__context.name) }}
    
    <table>
        <caption>Estado de la inversión</caption>
        <tr>
            <th>Moneda</th>
            <th>Cantidad</th>
        </tr>
        {% for saldo in saldos %}
        <tr>
            <td>{{ saldo.moneda }}</td>
            <td>{{ saldo.cantidad }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <table>
        <tr>
            <td>Valor actual de la inversión:</td>
            <td>{{ inversion_atrapada_eur }} EUR</td>
        </tr>
        <tr>
            <td>Inversión:</td>
            <td>{{ inversion_eur }} EUR</td>
        </tr>
        <tr>
            <td>Retorno:</td>
            <td>{{ retorno_eur }} EUR</td>
        </tr>
        <tr>
            <td>Ganancia:</td>
            <td>{{ ganancia }} EUR</td>
        </tr>
        <tr>
            <td>Valor actual:</td>
            <td>{{ valor_actual }} EUR</td>
        </tr>
    </table>
</body>
</html>