<!--corresponde al template del formulario-->
{% from 'macros.html' import menu %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COMPRA DE CRIPTOs</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
{{ menu(self._TemplateReference__context.name) }}
<h1 class="titulo_formulario">COMPRA DE CRIPTOs</h1>
<form action="/consulta" method="get">
    
        <label for="origen">Moneda origen</label>
        <select id="origen" name="origen">
            <option value="">-</option>
            <option value="EUR" {% if origen == "EUR" %}selected{% endif %}>Euro</option>
            <option value="BTC" {% if origen == "BTC" %}selected{% endif %}>Bitcoin</option>
            <option value="ETH" {% if origen == "ETH" %}selected{% endif %}>Ethereum</option>
            <option value="LINK" {% if origen == "LINK" %}selected{% endif %}>Chainlink</option>
            <option value="LUNA" {% if origen == "LUNA" %}selected{% endif %}>Terra</option>
            <option value="ATOM" {% if origen == "ATOM" %}selected{% endif %}>Cosmos</option>
            <option value="SOL" {% if origen == "SOL" %}selected{% endif %}>Solana</option>
            <option value="USDT" {% if origen == "USDT" %}selected{% endif %}>Tether</option>
        </select>
        <br>

        <label for="destino">Moneda destino</label>
        <select id="destino" name="destino">
            <option value="">-</option>
            <option value="EUR" {% if destino == "EUR" %}selected{% endif %}>Euro</option>
            <option value="BTC" {% if destino == "BTC" %}selected{% endif %}>Bitcoin</option>
            <option value="ETH" {% if destino == "ETH" %}selected{% endif %}>Ethereum</option>
            <option value="LINK" {% if destino == "LINK" %}selected{% endif %}>Chainlink</option>
            <option value="LUNA" {% if destino == "LUNA" %}selected{% endif %}>Terra</option>
            <option value="ATOM" {% if destino == "ATOM" %}selected{% endif %}>Cosmos</option>
            <option value="SOL" {% if destino == "SOL" %}selected{% endif %}>Solana</option>
            <option value="USDT" {% if destino == "USDT" %}selected{% endif %}>Tether</option>
        </select>
        <br>
        <input type="submit" value="Calcular">
        
        {% if crypto %}
            <h2>Cambio: {{ crypto }}</h2>
        <h3>Cantidad Moneda Origen:</h3>
        <input type="number" step="any" name="cantidad" value={{ cantidad_origen }}>
        <input type="submit" formaction="/consulta" formmethod="get" value="Calcular">
        {% endif %}
        {% if cantidad_origen %}
            <h3>{{ cantidad_origen }} {{ origen }} = {{ cantidad_destino }} {{ destino }}</h3>
            <input type="submit" value="Confirmar" formaction="/compra" formmethod="post">
        {% endif %}
</form>
<footer class="pie-de-pagina">2022 Bootcamp Cero.</footer>
</body>
</html>