<!--corresponde a la tabla de movimentos-->

{% from 'macros.html' import menu %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TABLA DE COMPRA DE CRIPTOs</title>
    <link rel="stylesheet" href="/static/css/tabla.css">
</head>
<body>
{{ menu(self._TemplateReference__context.name) }}

<table>
    <caption>Tabla de Movimientos</caption>
    <thead>
    <tr>
        <th>Origen</th>
        <th>Destino</th>
        <th>Fecha</th>
    </tr>
    </thead>

    {% for tx in transacciones %}
        <tr>
            <td>{{ tx.origen }} {{ tx.cantidad_moneda_origen }}</td>
            <td>{{ tx.destino }} {{ tx.cantidad_moneda_destino }}</td>
            <td>{{ tx.fecha.strftime("%x %X") }}</td>
        </tr>
    {% endfor %}

</table>
</body>
</html>