<!--corresponde al template del formulario-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COMPRA DE CRIPTOs</title>
</head>
    <body>
        <h1>COMPRA DE CRIPTOs</h1>

    <form action="/compra" method="post">
        <fieldset>
            <legend>Introduciendo datos monedas</legend>
            <label>Moneda origen</label>
            <select id="origen">
                <option value="">EUR</option>
                <option value="">BTC</option>
                <option value="">ETH</option>
                <option value="">LINK</option>
                <option value="">LUNA</option>
                <option value="">ATOM</option>
                <option value="">SOL</option>
                <option value="">USDT</option>   
            </select>
            <br>
            <label>Moneda destino</label>
            <select id="destino">
                <option value="">EUR</option>
                <option value="">BTC</option>
                <option value="">ETH</option>
                <option value="">LINK</option>
                <option value="">LUNA</option>
                <option value="">ATOM</option>
                <option value="">SOL</option>
                <option value="">USDT</option>
            </select>
        </fieldset>
        <label for="crypto">Cambio:</label>
        <input id="crypto" type="text" name="crypto" value="{{ crypto }}">
        {{ crypto }}
    </form>

</body>
</html>
