<!--corresponde a la tabla de movimentos-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TABLA DE COMPRA DE CRIPTOs</title>
    <link rel="stylesheet" href="/static/css/tabla.css">
</head>
<body>
    <header>
        <table>
            <caption>Tabla de Movimientos</caption>
            <thead>
                <tr>
                    <th>Moneda origen</th>
                    <th>Moneda destino</th>
                    <th>Cantidad</th>
                    <th>Fecha</th>
                </tr>
            </thead>	
	        <li><a href="/consulta">Nueva Compra</a></li>	
	</header>
</body>
</html>